# Node junk
node_modules
npm-debug.log
yarn.lock

# Git files
.git
.gitignore

# Docker config
Dockerfile* 
.dockerignore
.env
deploy.env

# Local-only code (security)
scripts/

*.env
.vscode
*.md
logs
dist
*.zip