DB_NAME=twake
DB_USER=twakeuser
DB_PASS=changeme
MINIO_ACCESS_KEY=changeme
MINIO_SECRET_KEY=changeme
CF_TUNNEL_TOKEN=changeme
# Twake Security
ENCRYPTION_KEY=changemeLongRandomValue
DRIVE_SALT=changemeAnotherLongRandomValue